<form #registerForm="ngForm" (ngSubmit)="register()" class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
  </div>

  <div class="form-label-group mb-3">
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="Username"
      required
      autofocus=""
      [(ngModel)]="model.username"
    />
  </div>

  <div class="form-label-group mb-3">
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Password"
      required
      [(ngModel)]="model.password"
    />
  </div>

  <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
  <div class="form-label-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign up
    </button>
    <button
      (click)="cancel()"
      class="btn btn-lg btn-secondary btn-block"
      type="button"
    >
      Cancel
    </button>
  </div>

  <!-- <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p> -->
</form>
